@model RottenReviewsWeb.Models.Restaurant

@{
    ViewBag.Title = "Details";
}


<div class="text-center my-5">
    <h2 class="display-3 text-uppercase">@Html.DisplayFor(model => model.Name)</h2>
    <h3>
        @for (var i = 0; i < Model.Rating; i++)
        {
            <span class="text-primary">★</span>
        }
    </h3>

    <p>
        @Model.Street,<br>
        @Model.City, @Model.State, @Model.Zipcode
    </p>
    <p>✆ @Model.Phone • 📧 @Model.Email </p>
    <p>
        <small>Last modified on @Model.Modified</small>
    </p>
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-outline-primary"})
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID}, new {@class = "btn btn-outline-secondary"})
    @Html.ActionLink("Delete", "Delete", new {id = Model.ID}, new {@class = "btn btn-danger"})
</div>
@* Map *@
<div class="row d-flex my-4">
    <div class="col-md-10 m-auto">
        <iframe
            height="350"
            frameborder="0" style="border: 0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAKr6xR-8JrruZHghR7kC2RVmI8h1Uz_Lw&q=@Model.Street"
            allowfullscreen>
        </iframe>
    </div>
</div>

<h2>Reviews</h2>
@Html.ActionLink("Add Review", "Create", "Reviews", new {id = Model.ID}, new {@class = "btn btn-outline-primary mb-4"})
<div class="row">
    @foreach (var review in Model.Reviews)
    {
        string borderColor = (review.Rating > 3) ? "border-primary" : "border-secondary";

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center @borderColor">
                <div class="card-body ">
                    <h5 class="card-title">
                        @for (var i = 0; i < @review.Rating; i++)
                        {
                            <span class="text-primary">★</span>
                         }
                    </h5>

                    <p class="card-text text-center">
                        <blockquote class="blockquote text-center">
                            @review.Comment
                            <footer class="blockquote-footer my-2">
                                @review.Author
                                <cite title="Post Time">
                                </cite>
                            </footer>
                        </blockquote>
                    </p>
                    @Html.ActionLink("Edit", "Edit", "Reviews", new { id = review.ID }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Delete", "Delete", "Reviews", new { id = review.ID }, new { @class = "btn btn-danger" })
                    <small class="d-block mt-3">Posted on @review.Modified</small>
                </div>
            </div>
        </div>
    }
</div>
