@using RottenReviewsWeb.Models
@model IEnumerable<RottenReviewsWeb.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2 class="display-4">Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        @{
            var properties = typeof(Restaurant).GetProperties();
        }
        @foreach (var property in properties)
        {
            <th>
                <p>@property.Name</p>
                <p class="text-center">
                    @Html.ActionLink("▲", "Index", new {sortType = 1, sortBy = property.Name}, null)
                    @Html.ActionLink("▼", "Index", new {sortType = 2, sortBy = property.Name}, null)
                </p>
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
     {
        <tr>
            @foreach (var property in properties)
            {
                <td>
                    @(property.Name == "Reviews" ? item.Reviews.Count : property.GetValue(item))
                </td>
            }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>