<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        @Html.ActionLink("RottenReviews", "Index", "Home", null, new {@class = "navbar-brand"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                @Html.ActionLink("Restaurants", "Index", "Restaurants", null, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-item nav-link" })
            </div>
            @using (Html.BeginForm("Search", "Restaurants", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
             {
                 @Html.TextBox("keyword", "", new {@class = "form-control" })
                 <div class="input-group-append">
                    <input type="submit" value="Search" class="btn btn-primary" />
                 </div>
              }
        </div>
    </div>
</nav>